root_dir: .

# path to data directory
data_dir: ${paths.root_dir}/data/

# path to logging directory
log_dir: ${paths.root_dir}/logs/

# path to output directory
output_dir: ${paths.log_dir}/${task_name}/runs/${name}/${now:%Y-%m-%d}_${now:%H-%M-%S}

# path to working directory
work_dir: ${hydra:runtime.cwd}